/* //CUSTOM STYLES START */
.nav-container {
  margin-top: 0 !important;
}
.navbar-global {
  /* overflow: hidden; */
  background-color: #333;
  position: fixed;
  top: 0;
  z-index: 99999999;
  width: 100%;
}
.navbar-dark .navbar-brand {
  color: white !important;
  font-weight: 900;
  font-family: inherit;
  font-size: 16px;
  margin-left: 2rem;
  letter-spacing: 2px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400 !important;
  font-size: 14px;
  letter-spacing: 0.1rem;
}
.nav-link {
  margin: 0.5rem 0rem;
}
.navbar-dark .navbar-nav .nav-link {
  /* background-color: rgb(17, 14, 14) !important; */
  color: rgb(117, 40, 241);
}
.nav-container {
  margin-top: 1rem;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  text-align: initial;
  margin-left: 2rem;
}
.nav-logo {
  margin-top: 0.5rem;
}
.enroll-button-custom {
  /* padding-top: 0 !important; */
  margin: 0 !important;
}
.navbar-toggler {
  background-color: #444444 !important;
}

.navbar_desktop_dropdown_toggle {
  display: none;
}
.enroll-button button {
  background: #00c7ae none repeat scroll 0 0 !important;
  border: 0 none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 13px 20px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 900;
}
/* CUSTOM STYLES FOR DROPDOWN BUTTON */
#basic-nav-dropdown {
  margin-top: -1rem;
}
.dropdown-menu {
  margin-top: 1.8rem !important;
}

/* -----END----------------->CUSTOM DROPDOWN */
@media screen and (min-width: 769px) {
  .navbar-dark .navbar-brand {
    margin-left: 0.5rem;
  }
  .navbar_mobile_dropdown_toggle {
    display: block;
  }
}

@media (max-width: 1150px) and (min-width: 993px) {
  .nav-logo img {
    margin-left: -8rem;
  }
  .navbar-nav a {
    margin-top: 1rem;
  }
  #basic-nav-dropdown {
    margin-top: -0.5rem;
  }
  .navbar_mobile_dropdown_toggle {
    display: none;
  }
  .navbar_desktop_dropdown_toggle {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .navbar-dark .navbar-brand {
    margin-left: 8rem;
  }
  .hero-text {
    margin-left: 5rem;
  }
  .navbar_mobile_dropdown_toggle {
    display: none;
  }
  .navbar_desktop_dropdown_toggle {
    display: block;
  }
  .nav-link {
    padding-right: 25px !important;
    /* font-size: 16px !important; */
    font-weight: 600 !important;
    letter-spacing: 1px;
  }
  #responsive-navbar-nav {
    margin-left: 9rem;
  }
}
