.footer {
  background: #171932;
  padding-bottom: 30px;
}
.footer-body h2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 20px;
  padding-top: 80px;
  text-align: center;
}
.footer-body li {
  color: #ffffff;
}
.footer-links h4 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 1rem;
  padding-top: 10px;
}
.footer-links ul li {
  font-size: 12px !important;
}
.footer-body-container {
  padding-right: 0px !important;
  margin-right: 0px !important;
}
.footer-body {
  padding-right: 0px !important;
  margin-right: 0px !important;
}
.footer-global {
  padding: 0 !important;
  margin: 0 !important;
}
.footer h3 {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 50px;
  text-align: left;
  line-height: 1.6em;
}
.footer ul {
  padding: 0 !important;
}
.footer ul li {
  text-decoration: none;
  list-style: none;
  font-size: 12px;
  font-weight: 700;

  color: #ffffff;
  margin-bottom: 6px;
  text-align: center;
}
.newsletter {
  padding-right: 0px !important;
  margin-right: 0px !important;
}
.newsletter h3 {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}
.newsletter p {
  font-size: 14px;
  line-height: 1.6em;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.newsletter input {
  border-radius: 2rem;
  margin-bottom: 30px;
}
.footer-bottom {
  background-color: #ffffff;
  color: #171932;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}
.footer-bottom p {
  padding: 10px;
}
.footer-submit-button {
  background: #00c7ae none repeat scroll 0 0 !important;
  border: 0 none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 13px 20px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 900;
}
.nav-footer-logo {
  margin: 0 auto;
}
.nav-footer-logo img {
  width: 10rem;
}
.nav-footer-logo {
  height: 60px;
  width: 60px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer-links {
    margin-top: 0rem;
    margin-bottom: auto;
  }
  .footer {
    padding-bottom: 80px;
  }

  .footer-links ul li {
    text-align: left;
  }
  .footer-body {
    padding-bottom: 80px;
  }

  .newsletter p {
    text-align: left;
  }
  .newsletter h3 {
    text-align: left;
    font-size: 24px;
    font-weight: 900;
  }
  .footer {
    padding-top: 80px;
  }
  .footer h3 {
    padding-top: 0px;
  }
  .footer-body h2 {
    padding-top: 0px !important;
    text-align: left !important;
  }
}

@media screen and (max-width: 767px) {
  .footer h3 {
    padding-top: 0px;
  }
  .footer-body h3 {
    text-align: center;
  }
}
