.testimonial-header {
  font-size: 22px;
  text-align: center;
  font-weight: 900;
  padding-top: 50px;

  margin-bottom: 30px;
}
.testimonial-global {
  background: #f8faff;
  padding-bottom: 50px;
  height: 34rem;
}
.testimonial-client-details h3 {
  font-size: 22px;
  font-weight: 900;
  margin-left: 20px;
}
.testimonial-client-details img {
  margin-bottom: 20px;
  border-radius: 100%;
  text-align: initial;
  margin-left: 20px;
  width: 8rem;
}
.testimonial-client-details p {
  margin-left: 20px;
  font-size: 14px;
}

@media only screen and (min-width: 1200px) {
  .testimonial-header {
    font-size: 32px;
  }
}

@media only screen and (min-width: 576px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 1.5rem !important;
    height: 1.5rem !important;
    margin: 8rem;
  }
}

/* CUSTOM STYLES FOR CAROUSEL CONTROLLERS IN  */
.carousel-control-prev,
.carousel-control-next {
  color: black;
  background-color: rgb(61, 61, 61);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin-top: 12rem;
}
.carousel-control-prev,
.carousel-control-next {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.carousel-indicators {
  display: none !important;
}
