/* .carousel {
  height: 80vw;
}
.carousel-caption h3 {
  color: #ffffff !important;
  font-weight: 900;
}


.banner::after {
  z-index: 1;
}
.banner > * {
  z-index: 100;
}
*/
.demo-button button {
  width: 160px;
  background: #3ee792 none repeat scroll 0 0 !important;
  border: 0 none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 13px 20px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 900;
}
.banner-global::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000 none repeat scroll 0 0;
  opacity: 0.7;
}
.banner-global {
  height: 100vh !important;
  background-color: rgb(238, 91, 91);
  background-image: url("./slide_1.jpg");
  margin: 0 !important;
  padding: 0 !important
  ;
}
.banner-text {
  z-index: 100 !important;
}
.banner-text h3 {
  padding-top: 6rem;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}
.banner-text p {
  font-size: 16px;
  color: #ffffff;
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .welcome-single-slide {
    height: 800px;
  }
  .banner-global {
    height: 600px !important;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1919px) {
  .banner-text h3 {
    padding-top: 10rem !important;
  }
  .banner-global {
    height: 600px !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .welcome-single-slide {
    height: 768px;
  }
  .banner-text h3 {
    padding-top: 9rem !important;
  }
  .banner-global {
    height: 600px !important;
  }
}

.welcome-single-slide {
  height: 600px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .welcome-single-slide {
    height: 400px;
  }
  .banner-text h3 {
    margin-bottom: 30px;
    font-size: 26px;
  }
}
@media only screen and (min-width: 1920px) {
  .welcome-single-slide {
    height: 950px;
    width: 100%;
  }
  .banner-text h3 {
    padding-top: 14rem !important;
  }
  .banner-global {
    height: 600px !important;
  }
}
